@charset "utf-8";

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h3, h4, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

input[type='radio'] { vertical-align: text-bottom; }

label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* Global styling start here */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding:0;
  margin:0;
  font-family:'Futura Bold', sans-serif;
}

ul,li {list-style: none;}
a {text-decoration: none;}
body { 
  font-family: 'Poppins', sans-serif;
  background-color: aliceblue;
}

img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

.wrapper {
  max-width: 1366px;
  width: 66%;
  margin: 100px auto;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 10px -1px 33px -9px rgba(0,0,0,0.66);
-webkit-box-shadow: 10px -1px 33px -9px rgba(0,0,0,0.66);
-moz-box-shadow: 10px -1px 33px -9px rgba(0,0,0,0.66);
}

/* ==========================================================================
   1. Aside section start here
========================================================================== */
.sidebar {
  background: url("./assets/images/bg-sidebar-desktop.svg") no-repeat;
  padding: 10px 0;
  flex-basis: 30%;
  min-height: 568px;
  height: 100%;
  border-radius: 10px;
}

.container .wrapper { display: flex; }

.step-text {
  display: block;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}

.step:not(:last-child) { margin-bottom: 40px; }

.steps { margin-top: 30px; }

.step {
  position: relative;
  width: 60%;
  margin: 0 auto;
}

.step::before {
  position: absolute;
  top: 0;
  left: -25%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #bfdffe;
  color: #bfdffe;
  border-radius: 50%;
  transition: all .3s ease-in-out;
}

.step-1::before { content: "1"; }
.step-2::before { content: "2"; }
.step-3::before { content: "3"; }
.step-4::before { content: "4"; }

.step-name a {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  transition: all .5s ease-in-out;
}

/* ==========================================================================
   1. Aside section End here
========================================================================== */

/* ==========================================================================
   2. contect section start here
========================================================================== */
.content {
  flex-basis: 70%;
  padding: 30px 11%;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

.content p {
  margin: 10px 0;
  font-size: 14px;
  font-weight: 500;
  color: #b4b3b9;
}

input {
  display: block;
  padding: 12px;
  margin: 5px 0 20px;
  width: 100%;
  outline:none;
  border: 1px solid #b4b3b9;
  border-radius: 8px;
  color: #253959;
  font-weight: 600;
}

label {
  font-size: 13px;
  font-weight: 500;
  display: inline-block;
  margin-left: 3px;
  color: #253959;
}

form {
  margin-top: 45px;
}

input:focus {
  border: 1px solid #174a8b;
}

.next-step-btn {
  display: block;
  background-color: #174a8b;
  border: 1px solid #174a8b;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  float: right;
  margin-top: 90px;
  transition: all .3s ease-in-out;
  box-shadow: 14px 4px 36px 0px rgba(0,0,0,0.27);
-webkit-box-shadow: 14px 4px 36px 0px rgba(0,0,0,0.27);
-moz-box-shadow: 14px 4px 36px 0px rgba(0,0,0,0.27);
}

.error {
  color: red;
  display: block;
  float: right;
  font-size: 13px;
  font-weight: 500;
}
/* ==========================================================================
   2. content section end here
========================================================================== */
@media screen and (min-width:995px) {
  .step-name a:hover {
    color: #add51e;
  }

  .step:hover::before {
    background-color: #bfdffe;
    color: #000;
  }

  .next-step-btn:hover {
    background-color: #fff;
    border: 1px solid #174a8b;
    color: #253959;
  }
}






